.container{
    background-color: rgb(211, 223, 223);
    display: flex;
    width: 100%;
}

.home{
    background-color: rgb(167, 191, 211);
    padding-top: 2%;
    display: flex;
}

.homea{
    display: block;
    margin-top: 1.5%;
    margin-left: 60%;
}

.homeh{
    margin-left: 10%;
}

@media (min-width: 100%) and (max-width: 750px) {
.w-lg-100 {
    width: 100% !important;
    } 
}
